
<div class="header">
  <div class="left-nav">
    <span class="logo-text">tailwebs</span>
  </div>

  <div class="logo">
    
      <%= link_to 'Home', root_path, class: "nav-button" %>
    
    <% if user_signed_in? %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>

    <% end %>
  </div>
</div>
<div class="table-container">
  <table class="styled-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Mark</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= student.name %></td>
          <td><%= student.subject_name %></td>
          <td><%= student.marks %></td>
            <td class="action-td">
  <div class="dropdown">
    <button type="button" class="dropdown-toggle three-dot">
      <span class="ph--dots-three-bold icons">•••</span>
    </button>
    <ul class="dropdown-menu">
      <!-- Edit Action -->
      <li class="dropdown-item">
        <%= link_to edit_student_path(student), class: 'btn btn-edit', "data-controller": "customer" do %>
          <span class="material-symbols-light--edit-outline drop-icon">✏️</span> Edit
        <% end %>
      </li>
      
      <!-- Show Action -->
      <li class="dropdown-item">
        <%= link_to student_path(student), class: 'btn btn-show', data: { turbo: false } do %>
          <span class="ic--baseline-visibility drop-icon">👁️</span> Show
        <% end %>
      </li>

      <!-- Delete Action -->
      <li class="dropdown-item">
       <%= button_to 'Delete', student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-delete' %>
      </li>
    </ul>
  </div>
</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'Add', new_student_path, class: "add-button", "data-controller": "customer"  %>
</div>
